/*@import "reset.css";*/
/*@import "backgrounds.css";*/
@import "hex.css";

/* include fonts */
@font-face {
  font-family: bender;
  src:url('fonts/Bender.otf');
}
@font-face {
  font-family: benderblack;
  src:url('fonts/Bender_Black.otf');
}
@font-face {
  font-family: benderblackitalic;
  src:url('fonts/Bender_Black_Italic.otf');
}
@font-face {
  font-family: benderbold;
  src:url('fonts/Bender_Bold.otf');
}
@font-face {
  font-family: benderbolditalic;
  src:url('fonts/Bender_Bold_Italic.otf');
}
@font-face {
  font-family: benderitalic;
  src:url('fonts/Bender_Italic.otf');
}
@font-face {
  font-family: benderlight;
  src:url('fonts/Bender_Light.otf');
}
@font-face {
  font-family: benderlightitalic;
  src:url('fonts/Bender_Light_Italic.otf');
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* def */
body{
  background-color: #ebebeb;
  font-family: bender, sans-serif;
}

.title_white,
.text_white{
  color: #fff;
  line-height: 24px;
}
.title_white{
  margin-bottom: 10px;

  font-size: 24px;
  font-family: benderblack, sans-serif;
}
.text_white{
  font-size: 16px;
}
  .text_white a{
    font-family: benderblack, sans-serif;
    color: #ee8c01;
  }

/* styles for all horizontal block's, watch backgrounds.css for their bg's */
.horizontal_block{
  height: 480px;
}

/*=============*/

.section_title{
  color: #ee8c01;
  font-size: 48px;
  font-family: benderblack, sans-serif;
  text-transform: uppercase;
}
  h1.section_title{
    font-size: 72px;
    line-height: 76px;
    margin-top: 50px;
    margin-bottom: 65px;
  }

/* header */
header{
  height: 165px;
}
  header .logo{
    margin-top: 35px;
    display: block;
  }
  header .contacts{
    margin-top: 57px;
    margin-left: 35px;
    padding-left: 30px;
    height: 50px;

    border-left: 1px solid #c6c6c6;
    font-size: 16px;
    
  }
    header .contacts p{
      line-height: 25px;
    }
    header .contacts span{
      display: inline-block;
    }
    header .contacts .number{
      color: #c6c6c6;
      width: 120px;
    }
    header .contacts .city{
      margin-left: 15px;
      font-family: benderbold, sans-serif;
      color: #72777a;
    }
  .btn_menu{
    display: block;
    width: 23px;
    height: 20px;
    margin-top: 68px;
    margin-right: -23px;

    background: url('images/menu.png') no-repeat 0 0;

    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
    .btn_menu:hover{
      background: url('images/menu_active.png') no-repeat 0 0;
    }


/* our project */
.top_slider{
  height: 266px;
  margin-bottom: 70px;
  position: relative;

  background: url('images/top_slider.png') no-repeat 0 0;
}
  .top_slider:before{
    content: '';
    display: block;
    width: 140px;
    height: 122px;
    position: absolute;
    bottom: -33px;
    left: -53px;

    background: url('images/top_slider_before.png') no-repeat 0 0;
  }
  .top_slider .slide_image{
    position: absolute;
    right: 78px;
    bottom: 8px;
    width: 488px;
    height: 498px;
    z-index: 2;
  }
  .top_slider .pre_slide{
    position: absolute;
    bottom: 35px;
    right: -32px;
    width: 399px;
    height: 398px;
    z-index: 3;

    background: url('images/pre_slide.png') no-repeat 0 0;
  }
    .pre_slide .content{
      margin-top: 224px;
      margin-left: 70px;

      font-family: benderblack, sans-serif;
    }
  .top_slider .title {
    font-size: 24px;
    color: #72777a;

    margin-bottom: 12px;
  }
  .top_slider .count-apartment {
    font-size: 65px;
    color: #c6c6c6;
  }
  .top_slider .lost-apartment {
    display: inline-block;
    padding-left: 5px;

    font-size: 24px;
    line-height: 27px;
    color: #c6c6c6;
    text-transform: uppercase;
    font-family: bender, sans-serif;
  }
  .top_slider .more {
    font-size: 24px;
    color: #ee8c01;
    text-transform: uppercase;

    display: inline-block;
    margin-top: 12px;
  }
  /* smalligons */
  .top_slider .line{
    position: relative;
  }
    .top_slider .line.first{
      margin-top: 51px;
      margin-left: 38px;
    }
    .top_slider .line.second{
      margin-left: 38px;
      top: -24px;
      left: 47px;
    }
    .top_slider .smalligon{
      float: left;
    }

/* project about*/
.project_about .col-md-6{
  margin-bottom: 20px;
}
  .project_about .col-md-6 div {
    display: table-cell;
    vertical-align: middle;
    height: 90px;

    color: #c6c6c6;
  }
  .project_about .ico_wr{
    width: 110px;
  }
  .project_about .number{
    padding-right: 15px;

    font-size: 65px;
    font-family: benderblack, sans-serif;
  }
  .project_about .text{
    font-size: 24px;
  }

/* preparing */
section.preparing{
  margin-top: 50px;
  padding-top: 130px;
}

/* supervision*/
section.supervision{
  height: 480px;
  padding-top: 200px;
}

/* advantages */
section.advantages{}
  section.advantages .section_title{
    margin-top: 75px;
    margin-bottom: 60px;
  }  
  section.advantages .col-md-6{
    height: 150px;
  }
    section.advantages .col-md-6 div {
      display: table-cell;
      vertical-align: middle;

      height: 150px;
    }
  section.advantages .ico_wr{
    width: 82px;
    padding-right: 35px;
  }
  section.advantages .text{
    color: #72777a;
    line-height: 24px;
    font-size: 16px;
  }

/* brick */
section.brick{
  padding-top: 133px;
}

/* news */
section.news{}
  section.news .section_title{
    margin-top: 85px;
    margin-bottom: 65px;
  }
  section.articles .section_title{
    margin-top: 90px;
  }

/* windows */
section.windows{
  height: 480px;
  padding-top: 150px;
}

/* question_form */
.question_form{
  padding-top: 56px;
  height: 610px;
}
  .question_form .section_title{
    margin-bottom: 15px;
    margin-top: 8px;

    color: #fff;
  }
  .question_form .text{
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    color: rgb(255,255,255);
    color: rgba(255,255,255, .5);
  }
  .question_form form{
  }
    .inp_style{
      width: 100%;
      height: 60px;
      line-height: 60px;
      padding-left: 20px;
      margin-bottom: 18px;
      outline: none;
      
      color: rgb(255,255,255);
      color: rgba(255,255,255, .5);
      border: 1px solid rgb(255,255,255);
      border: 1px solid rgba(255,255,255, .3);
      background-color: rgb(6,32,73);
      background-color: rgba(6,32,73, .2);

      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
      .inp_style:focus{
        border: 1px solid #fff;
        color: #fff;
      }
    .btn_style{
      width: 100%;
      height: 60px;
      line-height: 60px;
      margin-top: 4px;
      border: none;
      font-family: benderblack, sans-serif;
      
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      background-color: #ee8c01;
    }
  .consultant{
    position: relative;
  }
    .consultant img{
      display: block;
      margin: 0 auto;
    }
  .consultant_info{
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 25px;
    z-index: 2;

    color: #fff;
    line-height: 24px;
  }
    .consultant_info p{
      font-family: benderblack, sans-serif;
      font-size: 24px;
    }
    .consultant_info span{
      font-size: 16px;
      text-transform: uppercase;
      font-family: bender, sans-serif;
    }



/* feedback */
section.feedback{
  padding-top: 85px;
}
  section.feedback .text{
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: 18px;
    color: #72777a;
  }

/* contacts */
section.contacts{

}
  section.contacts .contacts_aftermap{
    background-color: #72777a;
  }

/* footer */
footer{
  color: #ffffff;
  font-size: 14px;
  background-color: #72777a;

  padding: 75px 0 65px 0;
}
  footer .inp_style{
    background: #72777a;
  }
  footer .footer_title{
    font-size: 24px;
    color: #b8bbbc;
    text-transform: uppercase;
    font-family: benderblack, sans-serif;

    margin-bottom: 15px;
  }
  .footer_text{
    font-size: 16px;
    color: #fff;
    line-height: 24px;

    margin-bottom: 20px;
  }
  /* footer contacts*/
  .f_contacts{
    margin-bottom: 60px;
  }
  .f_contacts p{
    line-height: 24px;
    color: #fff;
    font-size: 16px;

    margin-bottom: 15px;
  }
  .f_contacts span{
    display: block;

    color: #ee8c01;
    font-size: 18px;
    font-family: benderblack, sans-serif;
  }
  /*footer socials*/
  .f_socials{}
    .f_socials a{
      display: inline-block;
      clear: both;
      float: left;
      margin-bottom: 20px;

      font-size: 18px;
      line-height: 24px;
      color: #000;
      color: #b9bbbd;
      text-transform: uppercase;
      font-family: benderblack, sans-serif;
    }
    .f_socials i{
      display: inline-block;
      width: 36px;

      text-align: center;
      font-size: 24px;
    }
/* afterfooter */
.afterfooter{
  height: 38px;
  line-height: 38px;
  font-size: 14px;

  background-color: #505355;
  color: #72777a;
}
  .afterfooter .happy{
    display: inline-block;
    margin-left: 5px;

    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #72777a;
    font-weight: 900;

    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
    .afterfooter .happy:hover{
      color: #ED8C01;
    }
 




