/*@import "reset.css";*/
/*@import "backgrounds.css";*/
@import "hex.css";

/* include fonts */
@font-face {
  font-family: bender;
  src:url('fonts/Bender.otf');
}
@font-face {
  font-family: benderblack;
  src:url('fonts/Bender_Black.otf');
}
@font-face {
  font-family: benderblackitalic;
  src:url('fonts/Bender_Black_Italic.otf');
}
@font-face {
  font-family: benderbold;
  src:url('fonts/Bender_Bold.otf');
}
@font-face {
  font-family: benderbolditalic;
  src:url('fonts/Bender_Bold_Italic.otf');
}
@font-face {
  font-family: benderitalic;
  src:url('fonts/Bender_Italic.otf');
}
@font-face {
  font-family: benderlight;
  src:url('fonts/Bender_Light.otf');
}
@font-face {
  font-family: benderlightitalic;
  src:url('fonts/Bender_Light_Italic.otf');
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* def */
body{
  background-color: #ebebeb;
  font-family: bender, sans-serif;
}

.title_white,
.text_white{
  color: #fff;
  line-height: 24px;
}
.title_white{
  margin-bottom: 10px;

  font-size: 24px;
  font-family: benderblack, sans-serif;
}
.text_white{
  font-size: 16px;
}
  .text_white a{
    font-family: benderblack, sans-serif;
    color: #ee8c01;
  }

/* styles for all horizontal block's, watch backgrounds.css for their bg's */
.horizontal_block{
  height: 480px;
}

/*=============*/

.section_title{
  color: #ee8c01;
  font-size: 48px;
  font-family: benderblack, sans-serif;
  text-transform: uppercase;
}
  h1.section_title{
    font-size: 72px;
    line-height: 76px;
    margin-top: 50px;
    margin-bottom: 65px;
  }

/* header */
header{
  height: 165px;
}
  header .logo{
    margin-top: 35px;
    display: block;
  }
  header .contacts{
    margin-top: 57px;
    margin-left: 35px;
    padding-left: 30px;
    height: 50px;

    border-left: 1px solid #c6c6c6;
    font-size: 16px;
    
  }
    header .contacts p{
      line-height: 25px;
    }
    header .contacts span{
      display: inline-block;
    }
    header .contacts .number{
      color: #c6c6c6;
      width: 120px;
    }
    header .contacts .city{
      margin-left: 15px;
      font-family: benderbold, sans-serif;
      color: #72777a;
    }
  .btn_menu{
    display: block;
    width: 23px;
    height: 20px;
    margin-top: 68px;
    margin-right: -23px;

    background: url('images/menu.png') no-repeat 0 0;

    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
    .btn_menu:hover{
      background: url('images/menu_active.png') no-repeat 0 0;
    }
    .nav-menu-btn {
      margin-top: 68px;
      margin-right: -23px;
      cursor: pointer;
    }
    .nav-menu-btn i {
      display: block;
      width: 16px;
      margin: 4px 0;
    }
    .nav-menu-btn:before {
      content: '';
      width: 23px;
    }
    .nav-menu-btn:after {
      content: '';
      width: 20px;
    }
    .nav-menu-btn i,
    .nav-menu-btn:before,
    .nav-menu-btn:after {
      display: block;
      height: 4px;
      background-color: #b5b4b2;

      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    .nav-menu-btn:hover i,
    .nav-menu-btn:hover:before,
    .nav-menu-btn:hover:after {
      background: #eb8000;
    }

/* our project */
.top_slider{
  height: 266px;
  margin-bottom: 70px;
  position: relative;

  background: url('images/top_slider.png') no-repeat 0 0;
}
  .top_slider:before{
    content: '';
    display: block;
    width: 140px;
    height: 122px;
    position: absolute;
    bottom: -33px;
    left: -53px;

    background: url('images/top_slider_before.png') no-repeat 0 0;
  }
  .top_slider .slide_image{
    position: absolute;
    right: 26px;
    bottom: 12px;
    width: 488px;
    height: 498px;
    z-index: 2;
  }
  .top_slider .pre_slide{
    position: absolute;
    bottom: 65px;
    right: -32px;
    width: 399px;
    height: 398px;
    z-index: 3;

    background: url('images/pre_slide.png') no-repeat 0 0;
  }
    .top_slider .camera {
      display: block;
      position: absolute;
      top: 30px;
      right: 76px;
      width: 27px;
      height: 27px;
      background: url('images/camera.png') no-repeat 0 0;
      z-index: 1;
      cursor: pointer;
    }
      .top_slider .camera:hover {
        background-position-x: -27px;
      }
      .top_slider .camera:hover span{
        display: block;
      }
      .top_slider .camera span {
        display: none;
        position: absolute;
        top: 42px;
        left: -45px;
        z-index: 2;
        height: 34px;
        line-height: 34px;
        padding: 0 19px;

        color: #fff;
        background-color: #ee8c01;
      }
        .top_slider .camera span:before{
          color: #ee8c01;
          top: -4px;
          left: 50%;
          position: absolute;
          z-index: 2;
          margin-left: -4px;
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          vertical-align: middle;
          border-bottom: 4px dashed;
          border-bottom: 4px solid\9;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
        }

    .top_slider .next-appartmen {
      position: absolute;
      top: 50%;
      right: -45px;
      margin-top: -.5em;
      font-size: 80px;
      color: #c5c5c5;
      cursor: pointer;
      z-index: 5;
      line-height: 0;

      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
    }
    .top_slider .next-appartmen:hover {
      color: #999999;
    }
    .pre_slide .content{
      margin-top: 224px;
      margin-left: 70px;

      font-family: benderblack, sans-serif;
    }
  .top_slider .title {
    font-size: 24px;
    color: #72777a;

    margin-bottom: 12px;
  }
  .top_slider .count-apartment {
    font-size: 65px;
    color: #c6c6c6;
  }
  .top_slider .lost-apartment {
    display: inline-block;
    padding-left: 5px;

    font-size: 24px;
    line-height: 27px;
    color: #c6c6c6;
    text-transform: uppercase;
    font-family: bender, sans-serif;
  }
  .top_slider .more {
    font-size: 24px;
    color: #ee8c01;
    text-transform: uppercase;

    display: inline-block;
    margin-top: 12px;
  }
  /* smalligons */
  .top_slider .line{
    position: relative;
  }
    .top_slider .line.first{
      margin-top: 51px;
      margin-left: 35px;
    }
    .top_slider .line.second{
      margin-left: 38px;
      top: -26px;
      left: 45px;
    }
    .top_slider .smalligon{
      float: left;
      width: 95px; 
      height: 96px;
      position: relative;
    }
    .top_slider .smalligon .smalligon_mask{
      position: absolute;
      top: -1px;
      left: -1px;
      width: 97px;
      height: 97px;

      text-align: center;
      cursor: pointer;
      line-height: 145px;
      color: #fff;
      font-family: benderblack, sans-serif;
      font-size: 18px;

      background: url('images/poly_mask_before.png') no-repeat 0 -1px;
      -webkit-background-size: cover;
      background-size: cover;

      -webkit-transition: font-size .3s ease;
      -o-transition: font-size .3s ease;
      transition: font-size .3s ease;
    }
      .top_slider .smalligon:hover .smalligon_mask,
      .top_slider .smalligon.active .smalligon_mask{
        background: url('images/poly_mask.png') no-repeat 0 0;
        line-height: 98px;
        font-size: 46px;
      }

/* project about*/
.project_about .col-md-6{
  margin-bottom: 20px;
}
  .project_about .col-md-6 div {
    display: table-cell;
    vertical-align: middle;
    height: 90px;

    color: #c6c6c6;
  }
  .project_about .ico_wr{
    width: 110px;
  }
  .project_about .number{
    padding-right: 15px;

    font-size: 65px;
    font-family: benderblack, sans-serif;
  }
  .project_about .text{
    font-size: 24px;
    text-transform: uppercase;
  }

/* preparing */
section.preparing{
  margin-top: 50px;
  padding-top: 130px;
}

/* about company */
.about-2{
  padding-bottom: 55px;
}
.about-2 h2{
  color: #72777a;
  font-family: benderblack, sans-serif;
  text-align: left;
  font-size: 24px;

  margin-bottom: 65px;
  margin-top: 18px;
}
  .about-2 h5{
    font-size: 14px;
    color: #c6c6c6;

    margin-top: 15px;
    line-height: 24px;
  }
    .about-2 h4{
      font-size: 16px;
      color: #ee8c01;
      line-height: 24px;
    }

/* supervision*/
section.supervision{
  height: 480px;
  padding-top: 200px;
}

/* advantages */
section.advantages{
  padding-bottom: 80px;
}
  section.advantages .section_title{
    margin-top: 75px;
    margin-bottom: 37px;
  }  
  section.advantages .col-md-6{
    height: 110px;
  }
  section.advantages .cel-left,
  section.advantages .cel-right {
    width: 340px;
    padding: 0;
  }
  section.advantages .cel-left {
    margin-left: 25px;
    float: left;
  }
  section.advantages .cel-right {
    margin-right: 25px;
    float: right;
  }
    section.advantages .col-md-6 div {
      display: table-cell;
      vertical-align: middle;

      height: inherit;
    }
  section.advantages .ico_wr{
    width: 82px;
    padding-right: 35px;
  }
  section.advantages .text{
    color: #72777a;
    line-height: 24px;
    font-size: 16px;
  }

/* brick */
section.brick{
  padding-top: 133px;
}

/* news */
section.news{}
  section.news .section_title{
    margin-top: 85px;
    margin-bottom: 65px;
  }
  section.articles .section_title{
    margin-top: 90px;
  }

/* windows */
section.windows{
  height: 480px;
  padding-top: 150px;
}

/* question_form */
.question_form{
  padding-top: 56px;
  height: 660px;
}
  .question_form .col-left {
    width: 475px;
    float: left;
  }
  .question_form .section_title{
    margin-bottom: 15px;
    margin-top: 8px;

    color: #fff;
  }
  .question_form .text{
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    color: rgb(255,255,255);
    color: rgba(255,255,255, .5);
  }
  .question_form form{
  }
    form input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    form input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    .inp_style {
      margin-bottom: 33px!important;
    }
    .btn_style {
      margin-top: 0px!important;
    }
    .inp_style{
      width: 100%;
      height: 62px;
      line-height: 62px;
      padding-left: 20px;
      margin-bottom: 18px;
      outline: none;
      
      color: rgb(255,255,255);
      color: rgba(255,255,255, .5);
      border: 1px solid rgb(255,255,255);
      border: 1px solid rgba(255,255,255, .3);
      background-color: rgb(6,32,73);
      background-color: rgba(6,32,73, .2);

      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    .inp_style[aria-invalid="true"] {
        border-color: #EE8C01;
    }
      .inp_style:focus{
        border: 1px solid #fff;
        color: #fff;
      }
    .btn_style{
      width: 100%;
      height: 60px;
      line-height: 60px;
      margin-top: 4px;
      border: none;

      font-family: benderblack, sans-serif;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      background: #ee8c01;
      font-size: 18px;

      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
      .btn_style:hover{
        background: #f9b341;
        font-size: 20px;
      }
  .consultant{
    position: relative;
  }
    .consultant{
      position: relative;
    }
    .consultant img{
      display: block;
      margin: 0 auto;
      height: 604px;
    }
  .consultant_info{
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 25px;
    z-index: 2;

    color: #fff;
    line-height: 24px;
    padding-left: 115px;
  }
    .consultant_info p{
      font-family: benderblack, sans-serif;
      font-size: 24px;
    }
    .consultant_info span{
      font-size: 16px;
      text-transform: uppercase;
      font-family: bender, sans-serif;
    }



/* feedback */
section.feedback{
  padding-top: 85px;
}
  section.feedback .section_title {
    line-height: .85em;
  }
  section.feedback .text{
    margin-top: 17px;
    margin-bottom: 34px;

    font-size: 18px;
    color: #72777a;
  }

/* our_team */
section.our_team{
  background-color: #fff;
  padding-top: 80px;
}
  section.our_team .line{
    position: relative;

    text-align: center;
    letter-spacing: -0.3em;
  }
    section.our_team .line.first{
    }
    .line.first .contacon:nth-child(3):before{
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      left: -43px;
      width: 130px;
      height: 61px;
      z-index: 2;

      background: url('images/worker_before.png');

      background-size: cover;
      -webkit-background-size: cover;
    }
    .line.second .contacon:first-child:before,
    .contacon_before.contacon:before{
      content: '';
      display: block;
      position: absolute;
      bottom: -141px;
      left: -43px;
      width: 207px;
      height: 283px;
      z-index: 2;

      background: url('images/worker_after.png');

      background-size: cover;
      -webkit-background-size: cover;
    }
    section.our_team .line.second{
      margin-top: -71px;
    }
  /* contacons wrapper*/
  .contacons{
    position: relative;
    z-index: 2;
  }
  /* contacon item */
  .contacon{
    width: 245px;
    height: 250px;
    display: inline-block;
    position: relative;

    letter-spacing: normal;
  }
    .contacon .contacon_fake{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: none;

      background: url('images/contacon_fake.png') no-repeat 0 0;

      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
      .contacon:hover .contacon_fake{
        display: block;
      }
    .contacon .worker_pre,
    .contacon .worker_post{
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 3;

      text-align: center;

      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
    .contacon .worker_pre{
      bottom: 40px;
    }
      .contacon span.name{
        font-size: 16px;
        line-height: 16px;
        text-transform: inherit;
        color: #fdc75f;
        font-family: benderblack, sans-serif;
      }
      .contacon span.position{
        display: block;
        width: 80%;
        margin: 4px auto 0;

        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-transform: uppercase;
      }
    .contacon .worker_post{
      top: 95px;
      opacity: 0;
      visibility: hidden;

      font-size: 16px;
      line-height: 16px;
      color: #fff;
      text-transform: uppercase;
    }
      .contacon .worker_post span {
        display: inline-block;
      }
      .contacon .worker_post .mail{
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 16px;
      }
      .contacon .worker_post .number{
        width: 100%;
        margin-bottom: 24px;

        font-size: 16px;
        line-height: 16px;
      }
      .contacon .worker_post .get_call{
        display: inline-block;
        width: 170px;
        height: 30px;
        border: 1px solid #ee8c01;

        text-transform: uppercase;
        color: #ee8c01;
        font-size: 14px;
        line-height: 30px;
        font-family: benderblack, sans-serif;
        cursor: pointer;

        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
        .contacon .worker_post .get_call:hover{
          color: #fff;
          background: #ee8c01;
        }

    .contacon:hover .worker_pre{
      opacity: 0;
      visibility: hidden;
    }
    .contacon:hover .worker_post{
      opacity: 1;
      visibility: visible;
    }
  section.our_team .tabs{
    background: url('images/worker_tab_bg.png');
    margin: -41px 65px 10px 0;
    padding-top: 36px;
    padding-left: 40px;
  }
    section.our_team .tabs .tab{
      display: inline-block;
      padding: 0 10px 15px;
      margin: 0 13px;

      font-size: 18px;
      color: #c6c6c6;
      cursor: pointer;
      text-transform: uppercase;
    }
    section.our_team .tabs .tab.active{
      color: #ee8c01;
      font-family: benderblack, sans-serif;
      border-bottom: 4px solid #ee8c01;
    }

/* contacts */
section.contacts{

}
  section.contacts .contacts_aftermap{
    background-color: #72777a;
  }

/* footer */
footer{
  color: #ffffff;
  font-size: 14px;
  background-color: #72777a;

  padding: 75px 0 65px 0;
}
  footer .inp_style{
    background: #72777a;
  }
  footer .footer_title{
    font-size: 24px;
    color: #b8bbbc;
    text-transform: uppercase;
    font-family: benderblack, sans-serif;

    margin-bottom: 15px;
  }
  .footer_text{
    font-size: 16px;
    color: #fff;
    line-height: 24px;

    margin-bottom: 20px;
  }
  /* footer contacts*/
  .f_contacts{
    margin-bottom: 60px;
  }
  .f_contacts p{
    line-height: 24px;
    color: #fff;
    font-size: 16px;

    margin-bottom: 15px;
  }
  .f_contacts span{
    display: block;

    color: #ee8c01;
    font-size: 18px;
    font-family: benderblack, sans-serif;
  }
  /*footer socials*/
  .f_socials{}
    .f_socials a{
      display: inline-block;
      clear: both;
      float: left;
      margin-bottom: 20px;

      font-size: 18px;
      line-height: 24px;
      color: #000;
      color: #b9bbbd;
      text-transform: uppercase;
      font-family: benderblack, sans-serif;

      -webkit-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out;
    }
      .f_socials a:hover{
        color: #fff;
      }
    .f_socials i{
      display: inline-block;
      width: 36px;

      text-align: center;
      font-size: 24px;
    }
/* afterfooter */
.afterfooter{
  height: 38px;
  line-height: 38px;
  font-size: 14px;

  background-color: #505355;
  color: #72777a;
}
  .afterfooter .pull-left {
    margin-left: 22px;
  }
  .afterfooter .pull-right {
    margin-right: 115px;
  }
  .afterfooter .happy{
    display: inline-block;
    margin-left: 5px;

    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #72777a;
    font-weight: 900;

    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
    .afterfooter .happy:hover{
      color: #ED8C01;
    }
 




