.hidden-lg{
    display: none;
}
@media (max-width: 720px){
    
    /* def */
    .hidden-lg{
        display: block !important;
    }
    .hidden-mb{
        display: none;
    }
    .wrap-860{
        width: 100%;
    }
    body{
        background: #fff;
    }
    .parallax-mirror{
        display: none;
    }
    .section_title,
    h1.section_title{
        font-family: benderbold, sans-serif;
        font-size: 53px;
        color: #72777a;
        text-align: left;
        padding-left: 65px;
    }
    .slider-arrow-left{ 
        left: 33px !important;
    }
    .slider-arrow-right{
        right: 33px !important;
    }

    /* header */
    header{
        background: none;
        border-bottom: 1px solid #ececeb;
    }
        header .logo{
            margin-left: 65px;
        }
        header .nav-menu-btn{
            margin-right: 25px;
        }
        header .nav-menu-btn i,
        header .nav-menu-btn:before,
        header .nav-menu-btn:after{
            height: 7px;
        }
        .nav-menu-btn:before{
            width: 41px;
        }
        .nav-menu-btn i{
            width: 29px;
            margin: 7px 0;
        }
        .nav-menu-btn:after{
            width: 36px;
        }
    /* our projects */
    .our_projects h1.section_title{
        max-width: 100%;
    }
    /* project_about */
    section.our_projects .project_about{
        margin: 0 -15px;
        height: 1229px;
        padding-top: 132px;
        padding-bottom: 60px;

        background: url(images/project_about_mobile.png) no-repeat 0 0;
        -webkit-background-size: cover;
        background-size: cover;
    }
        section.our_projects .project_about li{
            width: 100%;
            margin-bottom: 70px;
        }
        section.our_projects .project_about li > div{
            display: block;
            float: left;
            width: 50% !important;
            height: auto;
        }
        section.our_projects .ico{
            margin: 0 auto;
            /*background-position: 0 0;*/
        }
            /*section.our_projects .ico_01{
                background: url('images/pa_1.png') no-repeat;

                width: 123px;
                height: 184px;
            }
            section.our_projects .ico_02{
                background: url('images/pa_2.png') no-repeat;

                width: 141px;
                height: 136px;
            }
            section.our_projects .ico_03{
                background: url('images/pa_4.png') no-repeat;
                
                width: 135px;
                height: 135px;
            }
            section.our_projects .ico_04{
                background: url('images/pa_3.png') no-repeat;

                width: 196px;
                height: 118px;
            }*/
        .project_about .number{
            display: block;
            font-size: 107px;
            color: #72777a;
        }
        .project_about .clearfix div{
            height: auto;
        }
        .project_about .text{
            font-size: 36px;
            color: #72777a;
        }

    /* question_form_mobile */
    section.question_form_mobile{
        height: 704px;
        padding: 160px 75px 0;
        
        background: url('images/mobile_form.png') no-repeat right top;
    }
        section.question_form_mobile .section_title{
            color: #ffffff;
            padding: 0;

            margin-bottom: 55px;
        }
        section.question_form_mobile p {
            font-size: 31px;
            color: #fff;
            line-height: 36px;

            margin-bottom: 90px;
        }
        section.question_form_mobile .btn_style{
            display: inline-block;
            height: 83px;
            line-height: 83px;

            font-size: 31px;
            font-family: benderbold, sans-serif;
        }
            section.question_form_mobile .btn_style:hover{
                color: #fff;
            }

    /* recent_awards_mobile */
    section.recent_awards_mobile{
        margin-top: 90px;
    }
        section.recent_awards_mobile .section_title{
        }

    /* advantages  */
    section.advantages .cel-left,
    section.advantages .cel-right{
        display: table;
        width: 100%;
        margin: 0 0 110px;
    }
        section.advantages .col-md-6 div{
            width: 50%;
            padding: 0;
        }
        section.advantages .ico{
            margin: 0 auto;
        }
        section.advantages .text{
            font-size: 31px;
            color: #72777a;
            line-height: 36px;        
        }    
    
    /* news */
    section.news > .wrap-860{
        padding: 0 75px;
    }


    /* footer contact form */
    footer #close-footer-contact-form {
        display: inline-block;
        font-size: 25px;
        float: right;
        cursor: pointer;
        color: #575656;
        transition: color .3s ease-in-out;
    }

    footer #close-footer-contact-form:hover {
        color: #b5b4b2;
    }

}