.hidden-lg{
    display: none !important;
}
@media (max-width: 991px){
    .container{ width: 100%; }
    .top_slider .next-appartmen{right: 0;}
    #carousel-news .slick-slide img{height: 500px;}
}
@media (max-width: 860px){
/*@media only screen and (max-device-width: 721px){*/
    
    /* def */
    .hidden-lg{
        display: block !important;
    }
    .hidden-mb{
        display: none !important;
    }
    .wrap-860{
        width: 100%;
    }
    body{
        background: #fff;
    }
    .parallax-mirror{
        display: none;
    }
    .section_title,
    h1.section_title{
        font-family: benderbold, sans-serif;
        font-size: 53px;
        color: #72777a;
        text-align: left;
        padding-left: 65px;
    }
    .slider-arrow-left{ 
        left: 33px !important;
    }
    .slider-arrow-right{
        right: 33px !important;
    }
    .visible-mb-480{
        display: none !important;
    }

    /* fxd menu*/
    #fixed-menu{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .menus_wrap{
        margin-top: 0 !important;
        width: 100%;
        text-align: center;
        display: block !important;
    }
    #nav-menu,
    #nav-our-projects{
        float: none;
        width: 100%;
        clear: both;
    }
        #nav-menu{
            margin-top: 25px !important;
            margin-bottom: 25px !important;
            border-right: none;
        }
        #nav-our-projects{
            padding: 0 !important;
        }
    
    #fixed-menu #nav-menu-close-btn, #popup-box-close-btn, #promo-box-close-btn, #close-footer-contact-form{
        top: 25px !important;
        right: 25px !important;
    }

    /* header */
    header{
        background: none;
        border-bottom: 1px solid #ececeb;
    }
        header .logo{
            margin-left: 65px;
        }
        header .nav-menu-btn{
            margin-right: 5px;
            margin-top: 75px;
        }

    /* project_about */
    section.our_projects .project_about{
        margin: 0 -15px;
        height: 1229px;
        padding-top: 132px;
        padding-bottom: 60px;

        background: url('images/project_about_mobile.png') no-repeat 0 0;
        -webkit-background-size: cover;
        background-size: cover;
    }
        /* slider */
        section.our_projects .mobile-slider-our-projects {
            display: block;
            background: url('images/mobile_top_slider_bg.png') no-repeat 50% 10px;
            margin: 0 -15px;
            position: relative;

            -webkit-background-size: contain;
            background-size: contain;
        }
        .mobile_top_slider_img{
            text-align: right;
            height: auto;
        }
        .mobile-slider-our-projects .title{
            font-size: 53px;
            color: #ff9707;
            font-family: benderbold, sans-serif;
            margin: 50px 0 25px;
        }
        .mobile-slider-our-projects img{
            margin-top: -24px;
        }
        .mobile-slider-our-projects .count-apartment,
        .mobile-slider-our-projects .lost-apartment{
            display: inline-block;

            font-size: 31px;
            color: #c1c1c1;
            font-family: benderbold, sans-serif;
        }
        .mobile-slider-our-projects .lost-apartment{
            margin-bottom: 25px;
        }
            .mobile-slider-our-projects .lost-apartment br{
                display: none;
            }
        .mobile-slider-our-projects .btn_style{
            display: block;
            margin: 25px 0;
        }
        .mobile-slider-our-projects .slider-arrow-left, 
        .mobile-slider-our-projects .slider-arrow-right{
            bottom: 160px !important;
        }
        .our-projects-mob-slider-elem > .container{
            padding: 0 85px;
        }

        /**/
        section.our_projects h1.section_title{
            max-width: 100%;
            margin-bottom: 35px;
            margin-top: 65px;
        }
        section.our_projects .project_about li{
            width: 100%;
            margin-bottom: 70px;
        }
        section.our_projects .project_about li > div{
            display: block;
            float: left;
            width: 40% !important;
            height: auto;
        }
        section.our_projects .ico{
            margin: 0 auto;
        }
        .project_about .number{
            display: block;
            font-size: 107px;
            color: #72777a;
        }
        .project_about .clearfix div{
            height: auto;
        }
        .project_about .text{
            font-size: 36px;
            color: #72777a;
        }
    
    /* about_company */
    section.about_company{}
        section.about_company .about-1{
            width: 100%;
            background: none;
            height: auto;
        }
            section.about_company .about-1:before{
                display: none;
            }
            .company_describe.open{
                background: #fff;
            }
        section.about_company .about-1 .company_describe:before{
            display: none;
        }
        section.about_company .company_describe{
            color: #72777a;
            font-size: 31px;
            line-height: 36px;

            padding: 35px 65px;
            position: relative;
            height: auto;
        }
        .about-1 .btn_detailed{
            font-size: 30px;
            font-family: benderbold, sans-serif;
        }

    /* question_form_mobile */
    section.question_form_mobile{
        height: 704px;
        padding: 160px 65px 0;
        
        background: url('images/mobile_form.png') no-repeat right top;
        -webkit-background-size: cover;
        background-size: cover;
    }
        section.question_form_mobile .section_title{
            color: #ffffff;
            padding: 0;

            margin-bottom: 55px;
        }
        section.question_form_mobile p {
            font-size: 31px;
            color: #fff;
            line-height: 36px;

            margin-bottom: 90px;
        }
        section.question_form_mobile .btn_style{
            display: inline-block;

            font-family: benderbold, sans-serif;
        }
            section.question_form_mobile .btn_style:hover{
                color: #fff;
            }

    /* recent_awards_mobile */
    section.recent_awards_mobile{
        position: relative;
        margin-top: -1px;
    }
        section.recent_awards_mobile .section_title{
            padding-left: 65px;
        }
        section.recent_awards_mobile .container{
            padding: 90px 0px 0;
            background: #f7f6f5;    
        }
        section.recent_awards_mobile .ra_bot{
            width: 100%;
            height: 131px;
            background: url('images/recent_awards_bottom.png') no-repeat 0 0;

            -webkit-background-size: cover;
            background-size: cover;
        }
        section.recent_awards_mobile img{
            margin: 50px auto 45px;
            width: 146px;
            height: 193px;
        }
        section.recent_awards_mobile h5{
            font-size: 31px;
            color: #72777a;
        }
        section.recent_awards_mobile h4{
            font-family: benderbold, sans-serif;
            color: #ee8c01;
            font-size: 53px;
        }
        section.recent_awards_mobile .slick-dots{
            margin-top: 25px;
        }

    /* advantages  */
    section.advantages .cel-left,
    section.advantages .cel-right{
        display: table;
        width: 100%;
        margin: 0 0 110px;
    }
        section.advantages .col-md-6 div{
            padding: 0;
        }
            section.advantages .ico_wr{
                width: 30%;
            }
                section.advantages .ico{
                    margin: 0 auto;
                }
            section.advantages .text{
                font-size: 31px;
                color: #72777a;
                line-height: 36px;  

                width: 70%;      
            }  
    
    /* news */
    section.news{
        background: #f7f7f6;
        position: relative;
        margin-bottom: 262px;
    }
        section.news .section_title{
            margin-top: 0;
            padding-left: 0;       
        }
        section.news:before{
            content: '';
            position: absolute;
            z-index: 2;
            top: -132px;
            left: 0;
            width: 100%;
            height: 132px;
            display: block;

            background: url('images/mobile_news_top.png') no-repeat 50%;
            -webkit-background-size: cover;
            background-size: cover;
        }
        section.news:after{
            content: '';
            position: absolute;
            z-index: 2;
            bottom: -130px;
            left: 0;
            width: 100%;
            height: 130px;
            display: block;

            background: url('images/recent_awards_bottom.png') no-repeat 50%;
            -webkit-background-size: cover;
            background-size: cover;
        }
    section.news > .wrap-860{
        padding: 0 75px;
    }   
        /* news slider */
        .slider-arrow-left, 
        .slider-arrow-right{
            top: inherit !important;
            bottom: 230px !important;
        }
        .hexagon-news .slick-slide:before{
            display: none !important;
        }
        section.news .news_skull{
            position: relative;
        }
            section.news .news_skull:before{
                content: '';
                background: rgba(6, 32, 73, .5);
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                z-index: 1;
            }
        section.news .title{
            position: relative !important;
            top: inherit !important;
            bottom: inherit !important;
            left: inherit  !important;
            right: inherit !important;
            max-height: 160px !important;
            overflow: hidden;
            margin-top: 80px;
        }
            section.news .title h4{
                font-size: 53px;
                color: #ff9707;
                line-height: 57px;
            }
            section.news .title p{
                color: #c1c1c1 !important;
                font-size: 31px;
            }
        section.news .slick-dots{
            margin-top: 35px;
        }
        section.news .slick-slide .title{

        }

    /* feedback */
    section.feedback{
        padding-top: 0;
        margin-bottom: 185px;
    }
        #carousel-feedback .center-content{
            width: 100% !important;
            height: auto !important;
        }
        section.feedback > .container{
            padding: 0 !important;
        }
        section.feedback .section_title{}
        #carousel-feedback .center-content .pre-content{
            display: none !important;
        }
        #carousel-feedback .center-content .content-box{
            background: #ebebeb !important;
            margin-top: 0 !important;
            padding-top: 70px !important;
            padding: 70px 110px 46px 140px !important;
            height: auto !important;
        }
            #carousel-feedback .center-content .content-box:after{
                height: 68px !important;
                background: url('images/mobile_feedback_bottom.png') no-repeat 0 0 !important;
                margin: 0 !important;
                bottom: -68px !important;
            }
            #carousel-feedback .center-content .content-box:before{
                height: 129px !important;
                background: url('images/mobile_feedback_top.png') no-repeat 0 0 !important;
                margin: 0 !important;
                top: -129px !important;
            }
        #carousel-feedback .hexagon-wrap{
            z-index: 11 !important;
            width: 320px !important;
            height: 320px !important;
            left: 0px !important;
            margin: 0 auto;
        }
        #carousel-feedback .content-box .discription{
            width: 100% !important;
        }
        /**/
        section.feedback .feedback-arrow-left{
            left: 18px !important;
        }
        section.feedback .feedback-arrow-right{
            right: 18px !important;
        }
        #carousel-feedback .hexagon-left:before, #carousel-feedback .hexagon-right:before{
            border-top-width: 90px !important;
            border-top-color: #fff !important;
        }
        #carousel-feedback .hexagon-right:before, .hexagon-block .hexagon-right:before{
            border-left-width: 160px !important;
        }
        #carousel-feedback .hexagon-left:before, .hexagon-block .hexagon-left:before{
            border-right-width: 160px !important;
        }
        #carousel-feedback .hexagon-left:after, #carousel-feedback .hexagon-right:after{
            border-bottom-width: 90px !important;
        }
        #carousel-feedback .hexagon-left:after, .hexagon-block .hexagon-left:after{
            border-right-width: 160px !important;
        }
        #carousel-feedback .hexagon-right:after, .hexagon-block .hexagon-right:after{
            border-left-width: 160px !important;
        }
    section.feedback .slick-dots{
        position: relative;
        top: -70px;
    }
    #carousel-feedback .content-box h4{
        font-family: benderblack, sans-serif !important;
        font-size: 31px !important;
        color: #ff9707 !important;
        width: 100% !important;
    }
    #carousel-feedback .content-box .position-humen{
        font-size: 31px !important;
        color: #72777a !important;
    }
    #carousel-feedback .content-box .discription{
        font-size: 31px !important;
        color: #72777a !important;       
    }
    section.feedback .read-more-btn{
        font-size: 31px !important;
    }

    /* stylize dots position, etc*/
    .slick-list{
        height: auto !important;
    }
    .slick-slide{
        overflow: visible !important;
        margin: 0 !important;
    }
        .slick-slide img{
            height: auto;
            display: inline-block !important;
            max-width: 100%;
        }
    .slick-dots{
        text-align: center;
    }
        .slick-dots li{
            display: inline-block;
            margin: 0 6px;
            cursor: pointer;
        }
        .slick-dots span{
            display: block;
            width: 30px;
            height: 5px;
            text-indent: -9999px;

            background: #d4d3d3;
        }
        .slick-dots li.slick-active span{
            background: #ff9707;
        }
    /* sldier arrows*/
    .slider-arrow-left, 
    .slider-arrow-right{
        line-height: 60px !important;
    }

    /* contacts */
    section.contacts{
        position: relative;
    }
        section.contacts .get_route{
            display: block;
            position: absolute;
            bottom: 120px;
            left: 11%;
            width: 78%;
            z-index: 3;
        }
    section.contacts .maps-navigation{
        position: absolute;
        height: 170px;
        line-height: 170px;
        width: 100%;
        z-index: 3;

        background: rgba(249,249,249, .8);
        text-align: center;
        font-family: benderbold, sans-serif;
        font-size: 53px;   
        color: #ee8c01;
    }
        .maps-navigation .slider-arrow-left, 
        .maps-navigation .slider-arrow-right{
            bottom: 54px !important;
        }
        .maps-navigation .slick-dots{
            margin-top: -25px !important;
        }
    
    /* contacts & map*/
    .map{
        margin-top: 0 !important;
    }

    /* footer contact form */
    footer #close-footer-contact-form {
        display: inline-block;
        font-size: 25px;
        float: right;
        cursor: pointer;
        color: #575656;
        transition: color .3s ease-in-out;
    }

    footer #close-footer-contact-form:hover {
        color: #b5b4b2;
    }
    /**/
    footer{
        background: #525b63;
        padding: 45px 65px 70px;
    }
    footer .location{
        margin-bottom: 92px;
        font-size: 30px;
    }
        footer .location img{
            margin-bottom: 25px;
        }
    footer .m_telephone{
        height: 75px;
        line-height: 75px;
        display: inline-block;
        margin-bottom: 50px;

        font-family: benderbold, sans-serif;
        font-size: 25px;
        color: #fff;
        position: relative;
    }
        footer .m_telephone:before{
            content: '';
            position: absolute;
            top: 0px;
            left: -110px;
            width: 75px;
            height: 75px;
            background: url('images/m_footer_telephone.png') no-repeat 0 50%;
        }
    footer .get_call{
        margin: 105px 0 158px;
        display: block;
    }
    footer .m_socials{
    }
        footer .m_socials a{
            display: inline-block;
            width: 75px;
            height: 75px;
            line-height: 75px;

            font-size: 40px;
            border-radius: 50%;
            color: #575f67;
            background-color: #9a9ea2;
        }

        footer .m_socials a:hover{}
            

    footer .footer-contact-form {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.8);
    }
}

@media (max-width: 650px) {
    #pop-up-list {
        width: 100%;
        padding: 10px;
        margin: 20% auto 0;
    }
}

@media (max-width: 481px){
/*@media only screen and (max-device-width: 481px){*/

    /* def's */
    .section_title,
    h1.section_title{
        font-size: 24px;
        line-height: 26px;
        padding: 0;
    }
    h1.section_title{
        margin: 35px 0 !important;
    }
    .btn_style{
        font-size: 14px;
        height: 44px;
        line-height: 44px;
    }
    .about-1 .btn_detailed, 
    section.feedback .read-more-btn{
        font-size: 18px !important;
    }

    .slider-arrow-left{ 
        left: 15px !important;
    }
    .slider-arrow-right{
        right: 15px !important;
    }

    /* header */
    header{
        height: 110px;
    }
        header .logo{
            max-width: 140px;
            margin-top: 30px;
            margin-left: 0;
        }
        header .nav-menu-btn{
            margin-top: 45px;
        }
    .slick-dots{
        max-width: 60%;
        margin: 0 auto;
    }

    /* top */
    .mobile_top_slider_img{
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }
    .mobile-slider-our-projects .title{
        font-size: 24px;
        line-height: 26px;
    }
    .our-projects-mob-slider-elem > .container{
        padding: 0 15px;
    }
    
    /* our project */
    section.our_projects .project_about{
        text-align: center;
        padding-top: 55px;
        height: auto !important;
    }
        section.our_projects .project_about li{
            margin-bottom: 25px;
        }
            section.our_projects .project_about .number{
                text-align: left;
                font-size: 50px;
            }
            section.our_projects .project_about .text{
                text-align: left;
                font-size: 14px;
            }

    .mobile-slider-our-projects .slider-arrow-left, 
    .mobile-slider-our-projects .slider-arrow-right{
        bottom: -5px !important;
    }
    .project_about .text{
        display: block;
    }

    /* question form*/
    .visible-mb-480{
        display: block !important;
    }
    section.question_form_mobile{
        padding: 0;
        height: auto;
        position: relative;
        background: none;
    }
        section.question_form_mobile .container{
            position: absolute;
            top: 20%;
            width: 100%;
            left: 0;
        }
        section.question_form_mobile .section_title{
            margin-bottom: 25px;
        }
        section.question_form_mobile p{
            font-size: 14px;
            line-height: 18px;

            margin-bottom: 35px;
        }

    /* about */
    section.about_company .company_describe{
        font-size: 14px;
        line-height: 18px;
        padding: 35px 0;
    }
    section.about_company .about-1{
        margin-bottom: 0;
    }
    .about_company .section_title{
        margin: 20px 0 0;
    }
    
    /* awards */
    section.recent_awards_mobile .container{
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 45px !important;
    }
        section.recent_awards_mobile .section_title{
            padding-left: 15px;
        }
        section.recent_awards_mobile h4{
            font-size: 35px;
        }
        section.recent_awards_mobile .slider-arrow-left, 
        section.recent_awards_mobile .slider-arrow-right{
            bottom: 220px !important;
        }
        section.recent_awards_mobile .ra_bot{
            -webkit-background-size: contain;
            background-size: contain;
        }

        section.recent_awards_mobile img{
            width: auto;
            margin: 25px 0;
        }
        section.recent_awards_mobile h5{
            font-size: 14px;
        }
        section.recent_awards_mobile h4{
            font-size: 24px;
            line-height: 26px;
        }
    
    /* advantages */
    section.advantages{
        margin-top: -100px;
    }
    section.advantages .row{
        margin: 0;
        text-align: center; 
    }
        section.advantages .col-md-6 div{
            padding: 10px;
        }
        section.advantages .cel-left, section.advantages .cel-right{
            margin: 0 0 25px;
            height: auto;
        }
        section.advantages .text{
            font-size: 14px;
            line-height: 18px;
            text-align: left;
        }
    
    /* news */
    section.news{
        margin-bottom: 100px;
    }
    section.news .slick-slide img{
        min-height: 100% !important;
    }
    section.news .section_title{
        margin-bottom: 25px;
    }
    #carousel-news{
        margin-bottom: 0;
    }
    section.news .title{
        margin-top: 25px;
        max-height: auto;
    }
        section.news .title h4{
            font-size: 24px;
            line-height: 26px;
        }
    section.news .news_skull{
        height: 250px;
        margin: 0 25px;
        overflow: hidden;
    }
    section.news .slider-arrow-left, 
    section.news .slider-arrow-right{
        bottom: 100px !important;
    }
    section.news > .wrap-860{
        padding: 0 15px;
    } 

    /* feedback */
    section.feedback{
        margin-bottom: 50px;
    }
    #carousel-feedback .center-content .content-box{
        padding-left: 55px !important;
        padding-right: 55px !important;
    }
    #carousel-feedback .content-box h4{
        font-size: 14px !important;
        text-transform: capitalize !important;
    }
    #carousel-feedback .hexagon-wrap{
        left: 0 !important;
        width: 90% !important;
        margin: 0 auto !important;
    }
    section.feedback .section_title{
        margin-bottom: 25px;
    }

    #carousel-feedback .content-box .position-humen{
        font-size: 14px !important;
    }
    #carousel-feedback .content-box .discription{
        font-size: 14px !important;
        line-height: 18px !important;
    }
    section.feedback .slider-arrow-left, 
    section.feedback .slider-arrow-right{
        bottom: 58px !important;
    }
    
    /* contacts */
    section.contacts{
        overflow: hidden;
    }
        section.contacts .slick-slide{
            font-size: 24px;
        }
    section.contacts .maps-navigation{
        font-size: 35px !important;
        text-transform: uppercase;
        height: 100px !important;
        line-height: 100px !important;
    }
    section.contacts .section_title{
        margin-left: 15px;
        margin-bottom: 25px;
    }
    .maps-navigation .slider-arrow-left, 
    .maps-navigation .slider-arrow-right{
        bottom: 22px !important;
    }
    
    /* footer */
    footer{
        padding: 25px 15px;
    }
        footer .col-xs-4{
            padding: 0;
        }
        footer .m_telephone{
            padding-left: 0;
            background: none;
            font-size: 24px;
            height: 30px;
            line-height: 30px;
            margin-bottom: 25px;
        }
            footer .m_telephone:before{
                width: 35px;
                height: 35px;
                left: -50px;
                -webkit-background-size: cover;
                background-size: cover;
            }
        footer .m_socials a{
            width: 35px;
            height: 35px;
            line-height: 35px !important;
            font-size: 15px;
        }
        footer .get_call{
            margin-bottom: 60px;
        }
        footer .location{
            font-size: 12px;
            margin-bottom: 35px;
        }
            footer .location img{
                width: 6%;
                margin-bottom: 10px;
            }
    
    /* slider */
    .slick-dots li{
        margin: 0 3px;
    }
        .slick-dots li span{
            width: 15px;
            height: 4px;
        }

}