.hidden-lg{
    display: none;
}
@media (max-width: 720px){
    
    /* def */
    .hidden-lg{
        display: block !important;
    }
    .hidden-mb{
        display: none;
    }
    .wrap-860{
        width: 100%;
    }
    body{
        background: #fff;
    }
    .parallax-mirror{
        display: none;
    }
    .section_title,
    h1.section_title{
        font-family: benderbold, sans-serif;
        font-size: 53px;
        color: #72777a;
        text-align: left;
        padding-left: 65px;
    }
    .slider-arrow-left{ 
        left: 33px !important;
    }
    .slider-arrow-right{
        right: 33px !important;
    }

    /* header */
    header{
        background: none;
        border-bottom: 1px solid #ececeb;
    }
        header .logo{
            margin-left: 65px;
        }
        header .nav-menu-btn{
            margin-right: 25px;
        }
        header .nav-menu-btn i,
        header .nav-menu-btn:before,
        header .nav-menu-btn:after{
            height: 7px;
        }
        .nav-menu-btn:before{
            width: 41px;
        }
        .nav-menu-btn i{
            width: 29px;
            margin: 7px 0;
        }
        .nav-menu-btn:after{
            width: 36px;
        }

    /* project_about */
    section.our_projects .project_about{
        margin: 0 -15px;
        height: 1229px;
        padding-top: 132px;
        padding-bottom: 60px;

        background: url(images/project_about_mobile.png) no-repeat 0 0;
        -webkit-background-size: cover;
        background-size: cover;
    }
        section.our_projects h1.section_title{
            max-width: 100%;
        }
        section.our_projects .project_about li{
            width: 100%;
            margin-bottom: 70px;
        }
        section.our_projects .project_about li > div{
            display: block;
            float: left;
            width: 50% !important;
            height: auto;
        }
        section.our_projects .ico{
            margin: 0 auto;
            background-position: 0 0;
        }
            section.our_projects .ico_01{
                background: url('images/pa_1.png') no-repeat;

                width: 123px;
                height: 184px;
            }
            section.our_projects .ico_02{
                background: url('images/pa_2.png') no-repeat;

                width: 141px;
                height: 136px;
            }
            section.our_projects .ico_03{
                background: url('images/pa_4.png') no-repeat;
                
                width: 135px;
                height: 135px;
            }
            section.our_projects .ico_04{
                background: url('images/pa_3.png') no-repeat;

                width: 196px;
                height: 118px;
            }
        .project_about .number{
            display: block;
            font-size: 107px;
            color: #72777a;
        }
        .project_about .clearfix div{
            height: auto;
        }
        .project_about .text{
            font-size: 36px;
            color: #72777a;
        }
    
    /* about_company */
    section.about_company{}
        section.about_company .about-1{
            width: 100%;
            background: none;
            height: auto;
        }
            section.about_company .about-1:before{
                display: none;
            }
        section.about_company .about-1 .company_describe:before{
            display: none;
        }
        section.about_company .company_describe{
            color: #72777a;
            font-size: 31px;
            line-height: 36px;

            padding: 35px 75px;
        }
        section.about_company .company_describe{
            position: relative;
            height: auto;
        }
        .about-1 .btn_detailed{
            font-size: 30px;
            font-family: benderbold, sans-serif;
        }

    /* question_form_mobile */
    section.question_form_mobile{
        height: 704px;
        padding: 160px 60px 0;
        
        background: url('images/mobile_form.png') no-repeat right top;
    }
        section.question_form_mobile .section_title{
            color: #ffffff;
            padding: 0;

            margin-bottom: 55px;
        }
        section.question_form_mobile p {
            font-size: 31px;
            color: #fff;
            line-height: 36px;

            margin-bottom: 90px;
        }
        section.question_form_mobile .btn_style{
            display: inline-block;
            height: 83px;
            line-height: 83px;

            font-size: 31px;
            font-family: benderbold, sans-serif;
        }
            section.question_form_mobile .btn_style:hover{
                color: #fff;
            }

    /* recent_awards_mobile */
    section.recent_awards_mobile{
        margin-top: 90px;
    }
        section.recent_awards_mobile .section_title{
        }

    /* advantages  */
    section.advantages .cel-left,
    section.advantages .cel-right{
        display: table;
        width: 100%;
        margin: 0 0 110px;
    }
        section.advantages .col-md-6 div{
            width: 50%;
            padding: 0;
        }
        section.advantages .ico{
            margin: 0 auto;
        }
        section.advantages .text{
            font-size: 31px;
            color: #72777a;
            line-height: 36px;        
        }    
    
    /* news */
    section.news{
        background: #f7f7f6;
        position: relative;
        margin-bottom: 262px;
    }
        section.news .section_title{
            margin-top: 0;
            padding-left: 0;       
        }
        section.news:before{
            content: '';
            position: absolute;
            z-index: 2;
            top: -132px;
            left: 0;
            width: 100%;
            height: 132px;
            display: block;

            background: url('images/mobile_news_top.png') no-repeat 0 0;
            -webkit-background-size: cover;
            background-size: cover;
        }
        section.news:after{
            content: '';
            position: absolute;
            z-index: 2;
            bottom: -131px;
            left: 0;
            width: 100%;
            height: 132px;
            display: block;

            background: url('images/mobile_news_bottom.png') no-repeat 0 0;
            -webkit-background-size: cover;
            background-size: cover;
        }
    section.news > .wrap-860{
        padding: 0 75px;
    }   
        /* news slider */
        .slider-arrow-left, 
        .slider-arrow-right{
            top: inherit !important;
            bottom: 230px !important;
        }
        .hexagon-news .slick-slide:before{
            display: none !important;
        }
        section.news .news_skull{
            position: relative;
        }
            section.news .news_skull:before{
                content: '';
                background: rgba(6, 32, 73, .5);
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                z-index: 1;
            }
        section.news .title{
            position: relative !important;
            top: inherit !important;
            bottom: inherit !important;
            left: inherit  !important;
            right: inherit !important;
            max-height: 160px !important;
            overflow: hidden;
            margin-top: 80px;
        }
            section.news .title h4{
                font-size: 53px;
                color: #ff9707;
                line-height: 57px;
            }
            section.news .title p{
                color: #c1c1c1 !important;
                font-size: 31px;
            }
        section.news .slick-dots{
            margin-top: 35px;
        }
        section.news .slick-slide .title{

        }

    /* feedback */
    section.feedback{
        padding-top: 0;
    }
    section.feedback .section_title{}

    /* stylize dots position, etc*/
    .slick-list{
        height: auto !important;
        /*overflow: visible !important;*/
    }
    .slick-slide{
        overflow: visible !important;
        margin: 0 !important;
    }
        .slick-slide img{
            height: auto !important;
            min-height: 571px;
        }
    .slick-dots{
        text-align: center;
    }
        .slick-dots li{
            display: inline-block;
            margin: 0 6px;
            cursor: pointer;
        }
        .slick-dots span{
            display: block;
            width: 30px;
            height: 5px;
            text-indent: -9999px;

            background: #d4d3d3;
        }
        .slick-dots li.slick-active span{
            background: #ff9707;
        }
    
    section.contacts{
        position: relative;
    }
        section.contacts .get_route{
            position: absolute;
            bottom: 120px;
            left: 50%;
            margin-left: -287px;
            width: 565px;
            z-index: 3;
        }

    /* footer contact form */
    footer #close-footer-contact-form {
        display: inline-block;
        font-size: 25px;
        float: right;
        cursor: pointer;
        color: #575656;
        transition: color .3s ease-in-out;
    }

    footer #close-footer-contact-form:hover {
        color: #b5b4b2;
    }
    /**/
    footer{
        background: #525b63;
        padding: 45px 65px 70px;
    }
    footer .location{
        margin-bottom: 92px;
        font-size: 30px;
    }
        footer .location img{
            margin-bottom: 25px;
        }
    footer .m_telephone{
        height: 75px;
        line-height: 75px;
        display: inline-block;

        font-size: 53px;
        color: #fff;
        font-family: benderbold, sans-serif;

        margin-bottom: 50px;
        padding-left: 115px;
        background: url('images/m_footer_telephone.png') no-repeat 0 50%;
    }
    footer .get_call{
        margin: 105px 0 158px;
        display: block;
    }
    footer .m_socials{
    }
        footer .m_socials a{
            display: inline-block;
            width: 75px;
            height: 75px;
            line-height: 75px;

            font-size: 40px;
            border-radius: 50%;
            color: #575f67;
            background-color: #9a9ea2;
        }
        footer .m_socials a:hover{
        }

    footer .footer-contact-form {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.8);
    }

}