.hidden-lg{
    display: none;
}
@media (max-width: 720px){
    
    /* def */
    .hidden-lg{
        display: block !important;
    }
    .hidden-mb{
        display: none;
    }
    .wrap-860{
        width: 100%;
    }
    body{
        background: #fff;
    }
    .parallax-mirror{
        display: none;
    }

    /* header */
    header{
        background: none;
        border-bottom: 1px solid #ececeb;
    }
        header .logo{
            margin-left: 70px;
        }
        header .nav-menu-btn{
            margin-right: 25px;
        }

    /* project_about */
    section.our_projects .project_about{
        margin: 0 -15px;
        height: 1229px;
        padding-top: 132px;
        padding-bottom: 60px;

        background: url(images/project_about_mobile.png) no-repeat 0 0;
        -webkit-background-size: cover;
        background-size: cover;
    }
        section.our_projects .project_about li{
            width: 100%;
            margin-bottom: 70px;
        }
        section.our_projects .project_about li > div{
            display: block;
            float: left;
            width: 50% !important;
            height: auto;
        }
        section.our_projects .ico{
            margin: 0 auto;
        }
        .project_about .number{
            display: block;
            font-size: 107px;
            color: #72777a;
        }
        .project_about .clearfix div{
            height: auto;
        }
        .project_about .text{
            font-size: 36px;
            color: #72777a;
        }

    /* question_form_mobile */

    /* recent_awards_mobile */

    /* advantages  */
    section.advantages .cel-left,
    section.advantages .cel-right{
        display: table;
        width: 100%;
        margin: 0;
    }
        section.advantages .col-md-6 div{
            width: 50%;
            padding: 0;
        }
        section.advantages .ico{
            margin: 0 auto;
        }

}