@media (max-width: 720px){
    
    /* def */
    .hidden-mb{
        display: none;
    }
    .wrap-860{
        width: 100%;
    }
    body{
        background: #fff;
    }

    /* header */
    header{
        background: none;
        border-bottom: 1px solid #ececeb;
    }
        header .logo{
            margin-left: 70px;
        }
        header .nav-menu-btn{
            margin-right: 25px;
        }
    section.our_projects .project_about{}
        section.our_projects .project_about li{
            width: 100%;
        }
        section.our_projects .project_about li > div{
            display: block;
            float: left;
            width: 50% !important;
        }
        section.our_projects .ico{
            margin: 0 auto;
        }

}